@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}

.banner-title-contenir{
    width: 1320px;
    height: 652px;
    margin: 0 auto;
    margin-top: 250px;
    background-image: url(assets/Hero-bg.png);
    margin-bottom: 130px;
}
.banner-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.banner-text-contenir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-left: 180px;
}
.banner-text h1{
    padding-top: 60px;
    font-size: 35px;
    padding-left: 20px;
    color: rgb(13, 19, 33);
}
.dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-left: 20x;
    padding-right: 120px;
    padding-top: 15px;
}
.banner-text p{
    padding-top: 25px;
    color: rgb(13, 19, 33);
    padding-right: 50px;
}
.learn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 10px;
}
.banner-btn{
    
    width: 190px; 
    height: 60px;
    background-color:rgb(13, 19, 33);  
    border: none;
    font-size: 16px; 
    color: white;
    border-radius: 10px; 
}
.btn-contact{
    justify-items: center;
    display: flex;
    margin-top: 50px;
    margin-right: 120px;  
}

/* why web development styel */
.why-dev-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
}
.why-dev-describtion{
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 80px;
}

.why-dev-top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-dev-top-text h1{
    width: 350px;
    height: 52px;
    margin-top: 80px;
    color: rgb(13, 19, 33);
}
.why-dev-top-text p{
    width: 852px;
    height: 52px;
    padding-top: 20px;
    color:  rgb(13, 19, 33);
}

.why-text-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(13, 19, 33);
}

.why-web-first-text-img{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
      
}
.why-web-first-text h2{
    padding-top: 65px;
    font-size: 22px;
    padding-left: 40px; 
    color: rgba(13, 19, 33, 0.7);   
}
.why-web-first-text p{
    padding-top: 40px;
    padding-left: 40px;
    color: rgb(13, 19, 33);
}
.first-btn{
    padding-top: 55px;
    padding-left: 60px;
    
}
.why-web-first-btn{
    width: 171px;
    height: 47px;
    font-size: 16px;
}

.why-web-first-img{
    width: 274px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
}

.why-web-second-text-img{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
      
}
.why-web-second-text h2{
    padding-top: 65px;
    font-size: 22px;
    padding-left: 40px; 
    color: rgba(13, 19, 33, 0.7);   
}
.why-web-second-text p{
    padding-top: 40px;
    padding-left: 40px;
    color: rgb(13, 19, 33);
}
.second-btn{
    padding-top: 55px;
    padding-left: 60px;
    
}
.why-web-second-btn{
    width: 171px;
    height: 47px;
    font-size: 16px;
}

.why-web-second-img{
    width: 274px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
}

.why-web-third-text-img{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
      
}
.why-web-third-text h2{
    padding-top: 65px;
    font-size: 22px;
    padding-left: 40px; 
    color: rgba(13, 19, 33, 0.7);   
}
.why-web-third-text p{
    padding-top: 40px;
    padding-left: 40px;
    color: rgb(13, 19, 33);
}
.third-btn{
    padding-top: 55px;
    padding-left: 60px;
    
}
.why-web-third-btn{
    width: 171px;
    height: 47px;
    font-size: 16px;
}

.why-web-third-img{
    width: 274px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
}

/* video tag */

.video-section{
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 88px;
}
.video-section-text h2{
    width: 852px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 25px;
    font-size: 32px;
    color: rgb(13, 19, 33);
}
.video-section-text p{
    width: 852px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 18px;
    color: rgb(13, 19, 33);
}
.video-tag{
    width: 1140px;
    height: 590px;;
    margin: 0 auto;
    margin-top: 50px;
}

/* my terget section */

.current-terget-section{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 150px;
}
.terget-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.terget-text h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 40px;
    color: rgb(13, 19, 33);
    font-size: 28px;
}
.terget-text p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 144px;
    margin-left: 144px;
}
.terget-text-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding-top: 10px;
    color: rgb(13, 19, 33);
}

.terget-section-lang{
    width: 1140px;
    margin: 0 auto;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.html{
    background-color: rgba(255, 76, 30, 0.05);
    padding: 20px;
}
.css{
    background-color: rgba(0, 76, 232, 0.05);
}
.js{
    background-color: rgba(255, 223, 0, 0.05);
    padding: 20px;
}
.para{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* fotter-section */
.banner-fotter{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    background-image: url(assets/handshake.jpg);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-foot-text h2{
    margin-top: 70px;
    margin-left: 455px;
    margin-left: 455px;
    color: rgb(255, 255, 255);
    font-size: 32px;
}
.h2{
    padding-top: 30px;
}
.banner-foot-text p{
    margin-left: 330px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/* fotter-btn */

.feedback{
    width: 450px;
    height: 47px;
    margin-left: 280px;
    margin-top: 99px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}
.sub{
    width: 120px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}
.feedback-sub{
    padding-bottom: 30px;
    
}
/* last */

.last-footer{
    width: 1140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:380px;
    margin-top: 70px;
    font-size: 16px;
}

  
